@import "../../colors.less";
@import "../../spacing.less";

// Copy-pasta AUI styles
.aui-navgroup-vertical .aui-nav {    
    li > ul {
        margin: 0 0 0 1.5 * @baseSpacing;
        padding: 0;

        > li {
            list-style: none;
            position: relative;
            
            & > a {
                display: block;
                line-height: 1.14285714285714;
                padding: @halfSpacing;
                word-wrap: break-word;
                margin-left: @doubleSpacing;

                &:hover,
                &:focus {
                    background: #e6e6e6;
                    text-decoration: none;
                }                           
            }
            
            &:before {
                content: "→";
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                color: @arrowColor;
                display: block;
                position: absolute;
                border-left: 1px solid @arrowColor;    
                top: 4px;
                height: 100%;
            }            

            &:last-child:before {
                height: 11.7px;
            }             
        }
    }
    
    .aui-nav-selected {
        font-weight: bold;
        color: black;
    }  
}